<nav>
  <div
    style="
      border-bottom: 1px solid gray;
      padding-top: 20px;
      padding-left: 200px;
      margin-left: auto;
      display: -webkit-box;
    "
  >
    <h2 style="padding-top: 2.8em">{{ title }}</h2>
    <img
      src="https://img.freepik.com/premium-vector/car-rental-logo-template-design_316488-1614.jpg"
      alt=""
      width="150px"
      height="150px"
      style="padding-left: 1200px"
    />
  </div>
</nav>

<mat-grid-list *ngIf="displayCars" cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/skoda/rapid_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="small()"
      >
        Select Car
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/kia/rio_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="large()"
      >
        Select Car
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/citroen/c_elysee_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="premium()"
      >
        Select Car
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div>
  <p>booking works!</p>

  {{ bookingForm.value | json }}
  {{ bookingForm.pristine | json }}
  {{ bookingForm.dirty | json }}

  <form
    *ngIf="displayForm"
    class="example-form"
    [formGroup]="bookingForm"
    (ngSubmit)="addBooking()"
  >
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="firstName"
        placeholder="First Name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="lastName"
        placeholder="Last Name"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="Provide Email"
      />
    </mat-form-field>

    <div>
      <button
        mat-raised-button
        color="primary"
        class="example-full-width"
        (click)="addBooking()"
      >
        Book Car
      </button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>
