<mat-tab-group animationDuration="2000ms" class="body">
  <mat-tab label="Small" style="border-bottom: lightblue">
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/kia/rio_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="largeCarSelected()"
      >
        Select Car
      </button>
    </div>
  </mat-tab>
  <mat-label label="Medium"></mat-label>
  <mat-tab label="Large">
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/kia/rio_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="largeCarSelected()"
      >
        Select Car
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Estate"></mat-tab>
  <mat-tab label="Premium">
    <div>
      <img
        src="https://cdn2.rcstatic.com/images/car_images/web/citroen/c_elysee_lrg.jpg"
      />
      <button
        mat-flat-button
        color="accent"
        style="float: left"
        (click)="premiumCarSelected()"
      >
        Select Car
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Minivans"></mat-tab>
  <mat-tab label="SUVs"></mat-tab>
</mat-tab-group>
